<p id="notice"><%= notice %></p>

<h1> <%= @user.username %> </h1>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>.
</p>

<h2> ratings </h2>

<ul>
 <% @user.ratings.each do |rating| %>
   <li> 
        <%= rating %> 
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      </li>
 <% end %>
</ul>
<p>
  <% if not @user.favorite_style.nil? %>
     favorite style: <%=link_to @user.favorite_style.name, style_path(@user.favorite_style) %>
  <% end %>
</p>
<p>
  <% if not @user.favorite_brewery.nil? %>
     favorite brewery: <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<h2>member in following beer clubs</h2>
<ul>
 <% @user.memberships.each do |membership| %>
   <li> <%= BeerClub.find(membership.beer_club_id).name %> </li>
 <% end %>
</ul>

<p>
  <% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
  <% end %>

<%= link_to 'Back', users_path, class:"btn btn-primary" %>
</p>
