<p id="notice"><%= notice %></p>

<h1>
  <%= @style.name %>
</h1>

<p>
  <%= @style.description %>
</p>

<p><strong>beers:</strong></p>

<ul>
  <% @style.beers.each do |b| %>
    <li> <%= b.name %> by <%= b.brewery.name %> </li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
